[stepper_x]
use_sensorless_homing: True
homing_retract_dist: 10
endstop_pin: tmc5160_stepper_x:virtual_endstop

[tmc5160 stepper_x]
diag0_pin: ^!PA8
# driver_SGT: -64  # -64 is most sensitive value, 63 is least sensitive
home_current: 0.6

[stepper_y]
use_sensorless_homing: True
homing_retract_dist: 10
endstop_pin: tmc5160_stepper_y:virtual_endstop

[tmc5160 stepper_y]
diag0_pin: ^!PD6
# driver_SGT: -64  # -64 is most sensitive value, 63 is least sensitive
home_current: 0.6

[autotune_tmc stepper_x]
sgt: 1

[autotune_tmc stepper_x1]
sgt: 1

[autotune_tmc stepper_y]
sgt: 1

[autotune_tmc stepper_y1]
sgt: 1

# SET_TMC_FIELD STEPPER=stepper_x  FIELD=sgt VALUE=-63
# SET_TMC_FIELD STEPPER=stepper_x1 FIELD=sgt VALUE=-63
######################################################
# SET_TMC_FIELD STEPPER=stepper_y  FIELD=sgt VALUE=-63
# SET_TMC_FIELD STEPPER=stepper_y1 FIELD=sgt VALUE=-63
